[Desktop Entry]
Version=1.0
Type=Application
Name=Titanfall 2 VR (Vanilla)
GenericName=Titanfall 2 (TF2VR mod, vanilla servers)
Comment=VR on official Respawn servers - disable mods marked "!" in the in-game Mods menu
Exec=@BIN@/tf2vr --vanilla
TryExec=@BIN@/tf2vr
Icon=@ICON@
Path=@GAMEDIR@
Terminal=true
Categories=Game;X-WiVRn-VR;
Keywords=titanfall;vr;quest;wivrn;proton;vanilla;online;
StartupNotify=true
